<h1>Editing Mma Group Membership</h1>

<%= render 'form', mma_group_membership: @mma_group_membership %>

<%= link_to 'Show', @mma_group_membership %> |
<%= link_to 'Back', mma_group_memberships_path %>
